#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 

    audio{
        visibility: hidden;
    }

   }

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;

     &:hover > :not(:hover){
            opacity: .4;
            transform: scale(0.9);

        }

}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: .35s;
    cursor: pointer;

    &:hover{
        box-shadow: 20px 20px 15px 5px rgba(0, 0, 0, 0.1);
        .dish-image{
            animation: float 1.5s infinite ease-in-out;
        }
    }
}

.dish-heart {
    position: absolute;
    background-color: rgb(131, 4, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;    
}

.fa-heart{
        color: red;
        animation: pulsar 2s infinite ease-in-out;
        &:focus{
        color: #ffff;
    }
    }

@keyframes pulsar {
    50%{
        transform: scale(50%);
    }
}    
.dish-description {
    color: #434343;
    text-align: center;
}

.dish-rate i {
    color: var(--color-primary-6);
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}


@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
        color: green;
    }
} 